.main{
    height: 100%;
    width: 50%;
    padding: 30px;
    display: flex; 
    flex-direction: column;
}

.forms{
    margin-bottom: 20px;
}


.item{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.buttonMenu{
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 626px) {
    .main{
        width: 70%;
    }
}


@media (max-width: 440px) {
    .main{
        width: 100%;
    }
}