.div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.div h1{
    font-size: 100px;
}

.item{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.buttonMenu{
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 592px) {
    .div h1{
        font-size: 70px;
    }
}

@media (max-width: 397px) {
    .div h1{
        font-size: 50px;
    }
}